<template name="game">
  <div id="game">
    <h1>Game: {{game.name}} <a href="{{pathFor 'home'}}">Back</a></h1>
    {{#if activeEvents}}
    <ul>
      {{#each activeEvents}}
        <li>
          {{ability.name}} by {{character.name}}
          {{#if ourTurn}}
            <form class="abilityEventInput">
              {{#each currentPhaseDefinition.inputs}}
                <p>{{text}}</p>

                {{#if equals type "price"}}
                  <div>
                    1
                    <input type="range" min="1" max="{{../../character.getState.stamina}}">
                    {{../../character.getState.stamina}}
                    <div id="price-input-value"></div>
                  </div>
                {{/if}}
                {{#if equals type "probability"}}
                  <p>Roll {{diceRoll}}+ on two dice.</p>
                  <small>That means you need to roll at least {{diceRoll}} or more on two standard d6 dice to make it.</small>
                  <p>
                    <label><input type="radio" name="dice-roll-result" value="success"> I made it</label>
                  </p>
                  <p>
                    <label><input type="radio" name="dice-roll-result" value="failure"> I didn't make it</label>
                  </p>
                {{/if}}
                {{#if equals type "target-opponent"}}
                  {{#each ../../../../opponentsCharacters}}
                    <div>
                      <input type="radio" name="opponent" value="{{_id}}"> {{name}}
                    </div>
                  {{/each}}
                {{/if}}
              {{/each}}
              <p>
                <input type="submit" value="Submit">
                <a href="#" class="cancelAbilityEventInput">cancel</a>
              </p>
            </form>
          {{else}}
            <p>Waiting for: {{#each ../opponents}}{{name}}{{/each}}</p>

          {{/if}}
        </li>
      {{/each}}
    </ul>
    {{/if}}

    <div>Turn: {{game.turnNr}}</div>
    <div>Teams:
      <ul>
        {{#each teams}}
          <li>{{name}}
            {{#if equals ../game.currentTurn _id}}
              (TURN)
              {{#if ../../isItMyTurn}}
                <button id="end-turn">End turn</button>
              {{/if}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>

    <div id="my-characters">
    {{#each myCharacters}}
      <div class="character">
        <h3>{{name}}</h3>
        <table>
          <tr><td>HP</td><td> {{getState.hitPoints}}<span class="max">/{{getHitPoints}}</span></td></tr>
            <tr><td>Mana</td><td> {{getState.mana}}<span class="max">/{{getMana}}</span></td></tr>
            <tr><td>Stamina</td><td> {{getState.stamina}}<span class="max">/{{getStamina}}</span></td></tr>
          <tr><td>Damage</td><td> {{getDamage}}</td></tr>
          <tr><td>Resistance</td><td> {{getMagicResistance}}</td></tr>
        </table>

        {{#each abilities}}
          {{#if hasAbility ../_id}}
            <div>
              <button
                {{#unless canPerformAbility ../../_id}}disabled="disabled"{{/unless}}
                data-character="{{../../_id}}"
                class="ability">
                {{name}}
                {{#unless equals price -1}}
                  <span>{{prettyPrice}}</span>
                {{/unless}}
              </button>
            </div>
          {{/if}}
        {{/each}}

        <table class="attributes">
          {{#each arrayify attributes}}
          <tr><td>{{key}}</td><td>{{value}}</td></tr>
          {{/each}}
        </table>
      </div>
    {{/each}}
    </div>

    <div id="history">
      <h2 class="clear">History</h2>
      <ul>
        {{#each history}}
          <li>
            {{character.name}}:
            {{state}}
            {{ability.name}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
