<template name="game">
  <div id="game">
    <p><a href="{{pathFor 'home'}}">Home</a></p>
    <h1>Game: {{game.name}}</h1>
    {{#if activeEvents}}
    <div>Active events:</div>
    <ul>
      {{#each activeEvents}}
        <li>
          {{character.name}}: {{ability.name}}
          <form class="abilityEventInput">
            {{#each ability.input}}
                <p>{{text}}</p>

                {{#if equals type "amount"}}
                  <div>
                    1
                    <input type="range" min="1" max="{{../../character.getStamina}}">
                    {{../../character.getStamina}}
                  </div>
                {{/if}}

            {{/each}}
            <input type="submit" value="{{ability.name}}">
          </form>
        </li>
      {{/each}}
    </ul>
    {{/if}}

    <div>Turn: {{game.turnNr}}</div>
    <div>Teams:
      <ul>
        {{#each teams}}
          <li>{{name}}
            {{#if isItOurTurn _id}}
              (TURN)
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div>
      {{#with myTeam}}
        {{#if isItOurTurn _id}}
          <button id="end-turn">End turn</button>
        {{/if}}
      {{/with}}
    </div>

    <div>
    {{#each myCharacters}}
      <div class="character">
        <h3>{{name}}</h3>
        <div>HP: {{getState.hitPoints}}/{{getHitPoints}}</div>
        <div>Mana: {{getState.mana}}/{{getMana}}</div>
        <div>Stamina: {{getState.stamina}}/{{getStamina}}</div>
        <div>Damage: {{getDamage}}</div>
        <div>Magic resistance: {{getMagicResistance}}</div>
        <ul>
          {{#each arrayify attributes}}
            <li>{{key}}: {{value}}</li>
          {{/each}}
        </ul>
          {{#each abilities}}
            {{#if isItOurTurn ../../myTeam._id}}
              <button
                class="ability"
                data-ability="{{this}}"
                data-character="{{../../_id}}">{{this}}</button>
            {{else}}
              <button disabled="disabled">{{this}}</button>
            {{/if}}
          {{/each}}
      </div>
    {{/each}}
    </div>


    <h2 class="clear">History</h2>
    <ul>
      {{#each history}}
        <li>
          {{getCharacterName character}}:
          {{state}}
          {{ability}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>
