<template name="game">
  <div id="game">
    <p><a href="{{pathFor 'home'}}">Home</a></p>
    <h1>Game: {{game.name}}</h1>
    {{#if activeEvents}}
    <div>Active events:</div>
    <ul>
      {{#each activeEvents}}
        <li>
          {{character.name}}: {{ability.name}}
          <form class="abilityEventInput">
            {{#each currentPhase.inputs}}
              <p>{{text}}</p>

              {{#if equals type "amount"}}
                <div>
                  1
                  <input type="range" min="1" max="{{../../character.getState.stamina}}">
                  {{../../character.getState.stamina}}
                </div>
              {{/if}}
              {{#if equals type "probability"}}
                <p>Roll {{diceRoll}}+ on two dice.</p>
                <small>That means you need to roll at least {{diceRoll}} or more on two standard d6 dice to make it.</small>
                <p>
                  <input type="radio" name="dice-roll-result" value="success"> I made it
                </p>
                <p>
                  <input type="radio" name="dice-roll-result" value="failure"> I didn't make it
                </p>
              {{/if}}
              {{#if equals type "target-opponent"}}
                {{#each ../../../opponentsCharacters}}
                  <div>
                    <input type="radio" name="opponent" value="{{_id}}"> {{name}}
                  </div>
                {{/each}}
              {{/if}}
            {{/each}}
            <p>
              <input type="submit" value="Submit">
              <a href="#" class="cancelAbilityEventInput">cancel</a>
            </p>
          </form>
        </li>
      {{/each}}
    </ul>
    {{/if}}

    <div>Turn: {{game.turnNr}}</div>
    <div>Teams:
      <ul>
        {{#each teams}}
          <li>{{name}}
            {{#if equals ../game.currentTurn _id}}
              (TURN)
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div>
      {{#if isItMyTurn}}
        <button id="end-turn">End turn</button>
      {{/if}}
    </div>

    <div>
    {{#each myCharacters}}
      <div class="character">
        <h3>{{name}}</h3>
        <div>HP: {{getState.hitPoints}}/{{getHitPoints}}</div>
        <div>Mana: {{getState.mana}}/{{getMana}}</div>
        <div>Stamina: {{getState.stamina}}/{{getStamina}}</div>
        <div>Damage: {{getDamage}}</div>
        <div>Magic resistance: {{getMagicResistance}}</div>
        <ul>
          {{#each arrayify attributes}}
            <li>{{key}}: {{value}}</li>
          {{/each}}
        </ul>
          {{#each abilities}}
            {{#if canPerformAbility ../_id}}
              <button
                class="ability"
                data-ability="{{this}}"
                data-character="{{../../_id}}">{{this}}</button>
            {{else}}
              <button disabled="disabled">{{this}}</button>
            {{/if}}
          {{/each}}
      </div>
    {{/each}}
    </div>

    <h2 class="clear">History</h2>
    <ul>
      {{#each history}}
        <li>
          {{getCharacterName character}}:
          {{state}}
          {{ability}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>
