<template name="home">
  <h1>Welcome Back to Life.</h1>

  {{#if currentUser}}

    <h2>My teams</h2>
    <ul>
      {{#each teams}}
      <li>{{name}}
        {{#if descr}}: {{descr}}{{/if}}
          <ul>
            {{#each getCharacters}}
              <li>{{name}}</li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>

    {{#if session 'showAddTeam'}}
      <div class="addTeam">
        <div class="teamName">
          Team name: <input type="text" id="team" placeholder="House Baratheon..."/>
        </div>
        <div class="teamDescription">
          Description: <textarea id="description" placeholder="Wips the llama's ass..."></textarea>
        </div>
        <input type="submit" class="add" value="Add team" />
        <a href="#" class="cancel" id="cancel-add-team">cancel</a>
      </div>
    {{else}}
      <button id="new-team">New team</button>
    {{/if}}

    <h2>Battles</h2>
    <ul>
      {{#each games}}
        <li><a href="{{pathFor 'game'}}">{{name}}</a></li>
      {{/each}}
    </ul>

    {{#if session 'showAddGame'}}
      <form id="create-game">
        <div class="gameName">
          Game name: <input type="text" id="game-name" placeholder="Battle of Middle Earth..."/>
        </div>
        <input type="submit" class="add" value="Create game" />
        <a href="#" class="cancel" id="cancel-add-game">cancel</a>
      </form>
    {{else}}
      <button id="new-game">New game</button>
    {{/if}}

  {{else}}
    <p>Login to get started.</p>
  {{/if}}
</template>
