<template name="home">
  <h1>Welcome Back to Life.</h1>

  <h2>My teams</h2>
  <ul>
    {{#each teams}}
      <li>
	{{name}}: {{descr}}
	<ul>
	  {{#each getCharacters}}
            <li>{{name}}</li>
	  {{/each}}
	</ul>
      </li>
    {{/each}}
  </ul>

  {{#if currentUser}}
    <div class="addTeam">
      <div class="teamName">
        name: <input type="text" id="team" />
      </div>
      <div class="teamDescription">
        description: <textarea id="description"></textarea>
      </div>
      <input type="button" class="add" value="Add team" />
    </div>
  {{/if}}
  
  <h2>My games</h2>
  <ul>
    {{#each games}}
      <li><a href="{{pathFor 'game'}}">{{name}}</a></li>
    {{/each}}
  </ul>
</template>
